.main-container {
  padding: 20px;
  text-align: center;
  
}

input[type="file"] {
  margin-bottom: 20px;
}
input[type="file"]::file-selector-button {
  background-color: #e69e00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.student-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.student-card {
  width: 280px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.student-card img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.student-card h3 {
  color: #e69e00;
  margin: 8px 0;
}

.student-card p {
  margin: 4px 0;
  font-size: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-container button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.activebtn{
  background-color: #e69e00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

