.filter-container {
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cgpa-filter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cgpa-filter select, .cgpa-filter input {
  padding: 10px;
  font-size: 0.95rem;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
}
.cgpa-filter input[type=number]::-webkit-inner-spin-button,
.cgpa-filter input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
.cgpa-filter input[type=number] {
  -moz-appearance: textfield;
}

.cgpa-filter input[type="number"]:focus {
    border: 1px solid #e69e00 !important;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 158, 0, 0.4);
}


.dropdowns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;;
  margin-bottom: 30px;
  cursor: pointer;
  
}

.select{
    cursor: pointer;
}

.select option{
    cursor: pointer;
}

.dropdowns label {
  margin-bottom: 5px;

}

.dropdowns select {
  padding: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
  transition: border-color 0.2s ease;
}

.dropdowns select:focus {
  border-color: #e69e00;
  outline: none;
}

.divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.roll-search {
  padding: 10px;
  border-radius: 10px;
    border: 1px solid #ccc;
}
.name-search{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.name-search:focus {
  border-color: #e69e00;
  outline: none;
}
.roll-search:focus{
    border-color: #e69e00;
    outline: none;
}
